# Ultimate SEO URLs BEGIN
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /
    AddDefaultCharset UTF-8

	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

	ErrorDocument 404 /404.html 

    # Redirecciones
    RewriteRule ^admin/do_logout$ /admin/index.php?controlador=perfil&action=do_logout&%{QUERY_STRING} [L]
    RewriteRule ^admin/logout$ /admin/index.php?controlador=perfil&action=do_logout&%{QUERY_STRING} [L]
    RewriteRule ^admin/login$ /admin/index.php?controlador=perfil&action=do_login&%{QUERY_STRING} [L]
    RewriteRule ^admin/home$ /admin/index.php?controlador=perfil&action=home&%{QUERY_STRING} [L]
    RewriteRule ^admin/$ /admin/index.php?controlador=perfil&action=frm_login&%{QUERY_STRING} [L]
   
    RewriteRule ^dw$ /comun/dw.php?%{QUERY_STRING} [L]

	RewriteRule ^tpl/img/(.*)$ /tpl_guest/img/$1 [L]
    RewriteRule ^tpl/(.*)$ /tpl_guest/$1 [L]

    #usuario
    RewriteRule ^home/$ /guest/index.php?controller=home&action=home&%{QUERY_STRING} [L]
    RewriteRule ^inicio/$ /guest/index.php?controller=home&action=home2&%{QUERY_STRING} [L]

</IfModule>


#A continuación mejoras de cacheo y comprensión con GZIP para aumentar velocidad de carga del site.
#habilita cacheo para extensiones concretas de imáges, css, js
#<ifmodule mod_expires.c>
# ExpiresActive On
# ExpiresDefault A3600
# <filesmatch ".(jpg|JPG|gif|GIF|png|css|ico|js|woff)$">
#  ExpiresDefault "access plus 31 day"
# </filesmatch>
#</ifmodule>

#habilita comprensión ficheros .css
#<Files *.css>
#SetOutputFilter GZIP
#</Files>

#habilita comprensión ficheros .js
#<Files *.js>
#SetOutputFilter GZIP
#</Files>

#habilita comprensión otras extensiones
#AddOutputFilterByType GZIP text/xml
#AddOutputFilterByType GZIP text/css
#AddOutputFilterByType GZIP application/javascript
#AddOutputFilterByType GZIP application/x-javascript
#AddOutputFilterByType GZIP application/xml
#AddOutputFilterByType GZIP application/xhtml+xml
#AddOutputFilterByType GZIP application/rss+xml