# Ultimate SEO URLs BEGIN
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /
    AddDefaultCharset UTF-8

	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

	ErrorDocument 404 /404.html 

    # Redirecciones
    
    #alquileres
    
    #vehiculos
    RewriteRule ^admin/vehiculos/?$ /admin/index.php?controller=vehiculo&action=list_vehicles&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-vehiculo/?$ /admin/index.php?controller=vehiculo&action=frm_vehicle&%{QUERY_STRING} [L]
    RewriteRule ^admin/editar-vehiculo/(.*)/?$ /admin/index.php?controller=vehiculo&action=frm_vehicle&id_vehiculo=$1%{QUERY_STRING} [L]
    RewriteRule ^admin/borrar-vehiculo/(.*)/?$ /admin/index.php?controller=vehiculo&action=delete_vehicle&id_vehiculo=$1%{QUERY_STRING} [L]
    RewriteRule ^admin/guardar-vehiculo/?$ /admin/index.php?controller=vehiculo&action=update_vehicle&%{QUERY_STRING} [L]
    
    #usuarios
    RewriteRule ^admin/comprobar-email/?$ /admin/index.php?controller=usuario&action=check_mail&%{QUERY_STRING} [L]
    RewriteRule ^admin/usuarios/administracion/?$ /admin/index.php?controller=usuario&action=list_users&type_user_label=administracion&type_user=1&label_user=administradores&%{QUERY_STRING} [L]
    RewriteRule ^admin/usuarios/colaborador/?$ /admin/index.php?controller=usuario&action=list_users&type_user_label=colaborador&type_user=2&label_user=colaboradores&%{QUERY_STRING} [L]
    RewriteRule ^admin/usuarios/electrificados/?$ /admin/index.php?controller=usuario&action=list_users&type_user_label=electrificados&type_user=3&label_user=electrificados&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-usuario/administracion/?$ /admin/index.php?controller=usuario&action=frm_user&type_user_label=administracion&type_user=1&label_user=administradores&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-usuario/colaborador/?$ /admin/index.php?controller=usuario&action=frm_user&type_user_label=colaborador&type_user=2&label_user=colaboradores&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-usuario/electrificados/?$ /admin/index.php?controller=usuario&action=frm_user&type_user_label=electrificados&type_user=3&label_user=electrificados&%{QUERY_STRING} [L]
    RewriteRule ^admin/guardar-usuario/administracion/?$ /admin/index.php?controller=usuario&action=update_user&type_user_label=administracion&type_user=1&label_user=administradores&%{QUERY_STRING} [L]
    RewriteRule ^admin/guardar-usuario/colaborador/?$ /admin/index.php?controller=usuario&action=update_user&type_user_label=colaborador&type_user=2&label_user=colaboradores&%{QUERY_STRING} [L]
    RewriteRule ^admin/guardar-usuario/electrificados/?$ /admin/index.php?controller=usuario&action=update_user&type_user_label=electrificados&type_user=3&label_user=electrificados&%{QUERY_STRING} [L]
    RewriteRule ^admin/editar-usuario/administracion/(.*)/?$ /admin/index.php?controller=usuario&action=frm_user&type_user_label=administracion&type_user=1&label_user=administradores&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/editar-usuario/colaborador/(.*)/?$ /admin/index.php?controller=usuario&action=frm_user&type_user_label=colaborador&type_user=2&label_user=colaboradores&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/editar-usuario/electrificados/(.*)/?$ /admin/index.php?controller=usuario&action=frm_user&type_user_label=electrificados&type_user=3&label_user=electrificados&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/activar-usuario/administracion/(.*)/$ /admin/index.php?controller=usuario&action=change_status&type_user_label=administracion&type_user=1&label_user=administradores&activacion=1&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/activar-usuario/colaborador/(.*)/$ /admin/index.php?controller=usuario&action=change_status&type_user_label=colaborador&type_user=2&label_user=colaboradores&activacion=1&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/activar-usuario/electrificados/(.*)/$ /admin/index.php?controller=usuario&action=change_status&type_user_label=electrificados&type_user=3&label_user=electrificados&activacion=1&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/desactivar-usuario/administracion/(.*)/$ /admin/index.php?controller=usuario&action=change_status&type_user_label=administracion&type_user=1&label_user=administradores&activacion=0&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/desactivar-usuario/colaborador/(.*)/$ /admin/index.php?controller=usuario&action=change_status&type_user_label=colaborador&type_user=2&label_user=colaboradores&activacion=0&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/desactivar-usuario/electrificados/(.*)/$ /admin/index.php?controller=usuario&action=change_status&type_user_label=electrificados&type_user=3&label_user=electrificados&activacion=0&id_usuario=$1&%{QUERY_STRING} [L]
    RewriteRule ^admin/validar-usuario/electrificados/(.*)/$ /admin/index.php?controller=usuario&action=validate_user&type_user_label=electrificados&type_user=3&label_user=electrificados&validado=1&id_usuario=$1&%{QUERY_STRING} [L]
    
  	#zonas
  	RewriteRule ^admin/zonas/?$ /admin/index.php?controller=zona&action=list_zonas&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-zona/?$ /admin/index.php?controller=zona&action=frm_zona&%{QUERY_STRING} [L]
    RewriteRule ^admin/editar-zona/(.*)/?$ /admin/index.php?controller=zona&action=frm_zona&id_zona=$1%{QUERY_STRING} [L]
    RewriteRule ^admin/guardar-zona/?$ /admin/index.php?controller=zona&action=update_zona&%{QUERY_STRING} [L]
    
    #puntos de carga
    RewriteRule ^admin/zona/(.*)/puntos-de-carga/?$ /admin/index.php?controller=zona&action=list_plug&id_zona=$1%{QUERY_STRING} [L]
    RewriteRule ^admin/zona/(.*)/añadir-punto-de-carga/?$ /admin/index.php?controller=zona&action=frm_plug&id_zona=$1%{QUERY_STRING} [L]
    RewriteRule ^admin/guardar-punto-de-carga/?$ /admin/index.php?controller=zona&action=update_punto_carga&%{QUERY_STRING} [L]
    RewriteRule ^admin/zona/(.*)/editar-punto-de-carga/(.*)/?$ /admin/index.php?controller=zona&action=frm_plug&id_zona=$1&id_punto_carga=$2%{QUERY_STRING} [L]
    RewriteRule ^admin/zona/(.*)/eliminar-punto-de-carga/(.*)/?$ /admin/index.php?controller=zona&action=delete_plug&id_zona=$1&id_punto_carga=$2%{QUERY_STRING} [L]
    
  	#tarifas
  	RewriteRule ^admin/tarifas/?$ /admin/index.php?controller=tarifa&action=list_tarifas&%{QUERY_STRING} [L]
	RewriteRule ^admin/añadir-tarifa/?$ /admin/index.php?controller=tarifa&action=frm_tarifa&%{QUERY_STRING} [L]
	RewriteRule ^admin/editar-tarifa/(.*)/?$ /admin/index.php?controller=tarifa&action=frm_tarifa&id_tarifa=$1%{QUERY_STRING} [L]
	RewriteRule ^admin/borrar-tarifa/(.*)/?$ /admin/index.php?controller=tarifa&action=delete_tarifa&id_tarifa=$1%{QUERY_STRING} [L]
  	RewriteRule ^admin/guardar-tarifa/?$ /admin/index.php?controller=tarifa&action=update_tarifa&%{QUERY_STRING} [L]
  	
  	#incidencias
    
    RewriteRule ^admin/incidencias/coches/?$ /admin/index.php?controller=incidencia&action=list_incidencias&type_incidence_label=coches&label_incidence=coches&%{QUERY_STRING} [L]
    RewriteRule ^admin/incidencias/puntos_de_carga/?$ /admin/index.php?controller=incidencia&action=list_incidencias&type_incidence_label=puntos_de_carga&label_incidence=puntos_de_carga&%{QUERY_STRING} [L]
    RewriteRule ^admin/incidencias/limpieza/?$ /admin/index.php?controller=incidencia&action=list_incidencias&type_incidence_label=limpieza&label_incidence=limpieza&%{QUERY_STRING} [L]
    RewriteRule ^admin/incidencias/accidentes/?$ /admin/index.php?controller=incidencia&action=list_incidencias&type_incidence_label=accidentes&label_incidence=accidentes&%{QUERY_STRING} [L]
   
    RewriteRule ^admin/añadir-incidencia/coches/?$ /admin/index.php?controller=incidencia&action=frm_incidencia&type_incidence=1&type_incidence_label=coches&label_incidence=coches&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-incidencia/puntos_de_carga/?$ /admin/index.php?controller=incidencia&action=frm_incidencia&type_incidence=2&type_incidence_label=puntos_de_carga&label_incidence=puntos_de_carga&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-incidencia/limpieza/?$ /admin/index.php?controller=incidencia&action=frm_incidencia&type_incidence=3&type_incidence_label=limpieza&label_incidence=limpieza&%{QUERY_STRING} [L]
    RewriteRule ^admin/añadir-incidencia/accidentes/?$ /admin/index.php?controller=incidencia&action=frm_incidencia&type_incidence=4&type_incidence_label=accidentes&label_incidence=accidentes&%{QUERY_STRING} [L]
   
    
    RewriteRule ^admin/do_logout/?$ /admin/index.php?controller=perfil&action=do_logout&%{QUERY_STRING} [L]
    RewriteRule ^admin/logout/?$ /admin/index.php?controller=perfil&action=do_logout&%{QUERY_STRING} [L]
    RewriteRule ^admin/login/?$ /admin/index.php?controller=perfil&action=do_login&%{QUERY_STRING} [L]
    RewriteRule ^admin/home/?$ /admin/index.php?controller=home&action=home&%{QUERY_STRING} [L]
    RewriteRule ^admin/$ /admin/index.php?controller=perfil&action=frm_login&%{QUERY_STRING} [L]
    
    RewriteRule ^admin/images/(.*)$ /tpl_admin/images/$1 [L]
    RewriteRule ^admin/css/(.*)$ /tpl_admin/css/$1 [L]
    RewriteRule ^admin/js/(.*)$ /tpl_admin/js/$1 [L]
    RewriteRule ^admin/fonts/(.*)$ /tpl_admin/fonts/$1 [L]
   
    RewriteRule ^dw$ /comun/dw.php?%{QUERY_STRING} [L]

	RewriteRule ^tpl/img/(.*)$ /tpl_guest/img/$1 [L]
    RewriteRule ^tpl/(.*)$ /tpl_guest/$1 [L]

    #usuario
    RewriteRule ^home/$ /guest/index.php?controller=home&action=home&%{QUERY_STRING} [L]
    RewriteRule ^inicio/$ /guest/index.php?controller=home&action=home2&%{QUERY_STRING} [L]
    RewriteRule ^crear_usuario/$ /guest/index.php?controller=usuario&action=frm_user&%{QUERY_STRING} [L]
    RewriteRule ^seleccionar_coche/$ /guest/index.php?controller=alquiler&action=frm_select_car&%{QUERY_STRING} [L]
    

</IfModule>


#A continuación mejoras de cacheo y comprensión con GZIP para aumentar velocidad de carga del site.
#habilita cacheo para extensiones concretas de imáges, css, js
#<ifmodule mod_expires.c>
# ExpiresActive On
# ExpiresDefault A3600
# <filesmatch ".(jpg|JPG|gif|GIF|png|css|ico|js|woff)$">
#  ExpiresDefault "access plus 31 day"
# </filesmatch>
#</ifmodule>

#habilita comprensión ficheros .css
#<Files *.css>
#SetOutputFilter GZIP
#</Files>

#habilita comprensión ficheros .js
#<Files *.js>
#SetOutputFilter GZIP
#</Files>

#habilita comprensión otras extensiones
#AddOutputFilterByType GZIP text/xml
#AddOutputFilterByType GZIP text/css
#AddOutputFilterByType GZIP application/javascript
#AddOutputFilterByType GZIP application/x-javascript
#AddOutputFilterByType GZIP application/xml
#AddOutputFilterByType GZIP application/xhtml+xml
#AddOutputFilterByType GZIP application/rss+xml